#div_container_movie {
  width: 100vw;
 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.movie {
  width: 280px;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0, 1);
  background-color: rgb(50, 68, 68);
  position: relative;
  overflow: hidden;
  font-family: sans-serif;
  text-align: center;
}
.movie img {
  width: 100%;
}
.movie_info {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}
.novie_info h3 {
  margin-top: 0;
}

.movie_info span {
  background-color: rgb(0, 0, 0);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}
.movie_info span.green {
  color: rgb(0, 255, 255);
}
.movie_info span.orange {
  color: rgb(255, 0, 187);
}
.movie_info span.red {
  color: red;
}

.overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(27, 25, 25);
  color: rgb(255, 255, 255);
  padding: 1rem;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}

.movie:hover .overview {
  transform: translateY(0);
}

/* #div_container_movie{
  margin-bottom: 50px;
} */


#reivew_container{
  min-height: 80vh;
}


#div_Review{
  min-height: 60vh;
}

#div_form_Review .btn{

  text-align: center;
  padding: 8px;
width: 30%;
height: 40px;
}

.movie .btn{
  text-align: center;
  padding: 5px;
width: 30%;
height: 30px;
margin-top: 15px;
margin-left:  15px;
}


@media screen and (max-width:500px) {
  #div_form_Review form{
    height: 55%;
  }

   .btn_Purchast{
    min-width: 30vw
  }

  #screen_p{
    pointer-events: none;
  }
  
}